
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  transition: color 600ms ease-in-out;
  /* first-of-type, */
  /* hover {
    color: #ed563b;
  } */
  @media (max-width: 1000px) {
    padding: 14px 0;
    width: 100%;
    font-size: 18px;
  }
}
