.member {
  width: 100%;
  padding: 120px 0;
  text-align: center;
  background: url("${}") no-repeat center/cover;
}
.h2 {
  color: #ed563b;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 1.3px;
  line-height: 1;
}
.p {
    color: #fff;
    font-size: 16px;
    line-height: 1.7;
    margin: 20px 0;
  }
 
  @media (max-width: 850px) {
    .member.h2 {
      font-size: 30px;
    }
    .member.p {
      padding: 0 20px;
      /* br {
        display: none;
      } */
    }
  }