.member {
  padding: 120px 0;
  text-align: center;
  background: #050d18;
  /* background: url("../../assets/Image/events.svg") no-repeat center/cover;
} */
}
.events {
  position: relative;
}
.eventsInnerImage {
  position: absolute;
  top: 300px;
  right: 30%;
}
.eventsHeading {
  position: absolute;
  top: 100px;
  right: 40%;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height */

  letter-spacing: 0.065em;

  color: #ffffff;
  text-shadow: 0px 4px 27px #05e8fa;
}
.eventsPara {
  position: relative;
  top: 200px;
  right: 1%;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.065em;

  color: #ffffff;
}
.h2 {
  color: #ed563b;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 1.3px;
  line-height: 1;
}
.p {
  color: #fff;
  font-size: 16px;
  line-height: 1.7;
  margin: 20px 0;
}

.eventsImage {
  width: 100%;
}

@media (max-width: 850px) {
  .member.h2 {
    font-size: 30px;
  }
  .member.p {
    padding: 0 20px;
    /* br {
        display: none;
      } */
  }
}
