.btn{
    text-decoration: none;
  display: inline-block;
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(5, 83, 121, 0.5) 0%, #1A709B 30.21%, #229AB7 49.48%, #64C1BF 69.27%, #64C1BF 100%);
  color: #fff;
  padding: 12px 14px;
  transition: background 500ms ease-in-out;
 
  border-radius: 16px;
}
.btn.hover {
    background: #f9735b;
  }