.home_sec{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    width: 90%;
}

.home_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.reg_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    color: white;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.2rem;
    width: 26%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 9px 4px rgba(255, 255, 255, 0.1);
    border-radius: 19px;
    background: transparent;
    cursor: pointer;
}

.reg_btn:hover {
    /* scale: 1.05; */
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition:transform 0.2s ease-in-out;
    -ms-transition:transform 0.2s ease-in-out;
}

.intro_text{
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    color: white;
    letter-spacing: 0.065em;
    justify-content: space-around;
    align-items: center;
}

.intro_text h1,
.intro_text h2 {
    font-weight: 500;
}

.mascot{
    z-index: 50;
    height: 55vh;
    padding: 2rem 0;
    width:auto;
}
.home_highlights{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.features{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: row;
    font-family: var(--primary-font);
    color: white;
}
.home_highlights h3{
    font-size: 2rem;
    font-weight: 600;

}
.home_highlights h4{
    font-size: 1.2rem;
    font-weight: 500;

}
.intro_text h1{
    font-size: 6rem;
}
.intro_text h2{
    font-size: 2rem;
}

.count_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2.28402px solid #FFFFFF;
    box-shadow: 0px 2.13071px 9.5882px 4.26142px rgba(255, 255, 255, 0.1);
    transform: translateY(20%);
    background: #080C17;

}

.features_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 80px;
    border: 2.28402px solid #FFFFFF;
    box-shadow: 0px 2.13071px 9.5882px 4.26142px rgba(255, 255, 255, 0.1);
    border-radius: 20.2417px;
    background: linear-gradient(180deg, #000000 6.01%, #05eafa32 82.06%, #1cacd046 100%);

}


@media only screen and (max-width: 1081px) {
    .intro_text h1{
        font-size: 8vw;
    }
    .intro_text h2{
        font-size: 3vw;
    }

    .count_circle {
        width: 70px;
        height: 70px;
    }

    .features {
        width: 90%;
    }
    
    .features_cont {
        width: 210px;
        height: 70px;
    }

    .home_highlights h3{
        font-size: 1.5rem;
    
    }
    .home_highlights h4{
        font-size: 1rem;
        font-weight: 500;    
}
}
@media only screen and (max-width: 980px) {
    .home{
        flex-direction: column;
    }
    .mascot{
        height: 37vh;
        width:50vw;
    }
    .intro_text h1{
        font-size: 9vw;
    }
    .intro_text h2{
        font-size: 3vw;
    }
    .home_title{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .main{
        min-height: 100vh;
    }
    .home{
        padding-top: 80px;
        max-width: 93vw;
        flex-direction: column;
        justify-content: center;
        min-height: 75vh;
    }
    .intro_text{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2.3rem;
    }
    .mascot{
        height: 35vh;
        width:45vw;
        padding: 0;
    }
    .features{
        flex-direction: column;
        align-items: center;
        min-width: 93vw;
        min-height: 35vh;
    }
    .box{
        padding:2rem 0;
    }
    .home_highlights{
        align-items: center;
    }
    .intro_text h1{
        font-size: 11vw;
    }
    .intro_text h2{
        font-size: 4vw;
    }
    .home_title{
        padding-bottom: 2rem;
    }

    .reg_btn{
        width: 30%;
        font-size: 1rem;
    }
    .count_circle {
        width: 65px;
        height: 65px;
    }

    .features_cont {
        width: 210px;
        height: 65px;
    }
    .home_highlights h3{
        font-size: 1.4rem;
    
    }
    .home_highlights h4{
        font-size: 1rem;
        font-weight: 500;    
}
}
@media only screen and (max-width: 600px){
    .main{
        min-height: 100vh;
    }
    .reg_btn{
        width: 35%;
        font-size: 1rem;
    }
    .home{
        padding-top: 80px;
        max-width: 93vw;
        flex-direction: column;
        justify-content: center;
        min-height: 75vh;
    }
    .intro_text{
        font-size: 1.3rem;
        text-align: center;
        padding-top: 2.3rem;
    }
    .mascot{
        height: 30vh;
        width:85vw;
        padding: 0;
    }
    .features{
        flex-direction: column;
        align-items: center;
    }

    .count_circle {
        width: 60px;
        height: 60px;
    }

    .features_cont {
        width: 200px;
        height: 60px;
    }
    .box{
        padding:2rem 0;
    }
    .home_highlights{
        align-items: center;
    }
    
}

@media screen and (max-width: 400px) {
    .main{
        min-height: 100vh;
    }
    .home{
        max-width: 93vw;
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
        min-height: 70vh;
    }
    .reg_btn{
        width: 50%;
        font-size: 1rem;
    }
    .mascot{
        height: 30vh;
        width:93vw;
        padding: 0;
    }
    .features{
        flex-direction: column;
        align-items: center;
        min-width: 93vw;
    }
    .box{
        padding:2rem 0;
    }
    .home_highlights{
        align-items: center;
    }
    .intro_text h1{
        font-size: 2.8rem;
    }
    .intro_text h2{
        font-size: 1.5rem;
    }

    .count_circle {
        width: 50px;
        height: 50px;
    }

    .features {
        width: 90%;
    }
    
    .features_cont {
        width: 190px;
        height: 50px;
    }

    .home_highlights h3{
        font-size: 1.2rem;
    
    }
    .home_highlights h4{
        font-size: 1rem;
}
    
}
  