.home_sec{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    /* gap: 3rem; */
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    width: 100%;
    /* min-width: 80vw; */
    /* height: 100vh; */
}
.intro_text{
    font-family: var(--primary-font);
    text-shadow: 0px 4px 27px #05eafaa2;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.065em;
}
.mascot{
    z-index: 50;
    height: 60vh;
    padding: 2rem 0;
    width:auto;
    object-position: 50% 50%;
}
.home_highlights{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
    /* flex-direction: column; */
}
.features{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /* align-items: center; */
    flex-direction: row;
    font-family: var(--primary-font);
    /* text-shadow: 0px 4px 27px #05E8FA; */
    color: white;
}
.home_highlights h3{
    font-size: 2.5rem;
    text-shadow: 0px 4px 27px #05eafaa2;

}
.home_highlights h4{
    font-size: 1.3rem;
    text-shadow: 0px 4px 27px #05eafaa2;

}
@media only screen and (max-width: 600px){
    .main{
        min-height: 100vh;
    }
    .home{
        max-width: 93vw;
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        min-height: 75vh;
    }
    .intro_text{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2.3rem;
    }
    .mascot{
        height: 35vh;
        width:95vw;
        padding: 0;
    }
    .features{
        flex-direction: column;
        align-items: center;
        min-width: 93vw;
    }
    .box{
        padding:2rem 0;
    }
}
@media only screen and (max-width: 1200px) and (max-height: 764px) { 

}

@media only screen and (max-width: 1300px) {
    .mascot{
        height: 50vh;
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 400px) {

}
  