.rewards {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.rewards_head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.lt_btm {
  transform: translateX(-10%);
}

.rt_btm {
  transform: translateX(10%); 
}

.rewards_line {
  border-top: 3px solid #ffffff;
  box-shadow: 0px 4px 27px #05E8FA;
  
}

.abstract_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.rewards_line {
  width: 150px;
}

.rewards_head h1 {
  font-family: var(--primary-font);
  font-weight: 600;
  text-shadow: 0px 4px 27px #05eafaa2;
  font-size: 3rem;
  color: white;

}

.rewards_mid {
  display: flex;
  width: 80%;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.reward_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.rewards_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.reward_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: linear-gradient(180deg, #000000 6.01%, #05eafa32 82.06%, #1cacd046 100%);
  box-shadow: 0px 4px 53px #05eafa2b;
}

.reward_circle h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  /* text-shadow: 0px 4px 27px #05eafaa2; */
  font-size: 3rem;
  color: white;

}

.rewards_cont h1 {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: 500; 
  font-size: 2rem;

}

.rewards_cont p {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: 500; 
  font-size: 1rem;
  text-align: center;
}


@media(max-width:992px)
{ .abstract_line{
   display:none; 
}
.rewards_mid {
  flex-direction: column;
} 
}
@media only screen and (max-width: 1200px) and (max-height: 764px) {
}

@media only screen and (max-width: 1300px) {
  .rewards {
    margin: 55px 0;
  }
  .rewards_head {
  }
  .abstract_line {
    gap: 0.85rem;
  }
  .rewards_line {
    width: 120px;
    border-top: 2px solid #ffffff;
  }
  .rewards_head {
    font-size: 4.5rem;
    gap: 2.4rem;
  }
  .rewards_mid {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .reward_circle {
    height: 170px;
    width: 170px;
  }
  /*.reward_circle h2 {
    font-size: 3.8rem;
  } */
  .reward_info {
    width: 22.5%;
  }
  .reward_cont {
    gap: 1.2rem;
  }

  .rewards_cont h1 {
    font-size: 2.25rem;
  }
  .rewards_cont p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
  .rewards_head {
    /*grid-gap: 2rem;  */
  }
  .rewards_head h1 {
    font-size: 3.2rem;
  }
  .rewards_mid {
    /*fix gap  grid-gap: ; */
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .reward_circle {
    height: 170px;
    width: 170px;
  }
   /*.reward_circle h2 {
    font-size: 3.6rem;
  } */
  .rewards_cont h1 {
    font-size: 1.7rem;
  }
  .rewards_cont p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
.rewards_head h1{
  font-size: 3.5rem;
}
.rewards_mid {
  padding-bottom: 1rem;
  width: 85%;
  padding-top: 2.2rem;
}
.reward_info{
  width: 70%;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
.reward_circle {
  height: 160px;
  width: 160px;
}
/*.reward_circle h2{
  font-size: 3.6rem;
} */
.rewards_cont h1{
  font-size: 2.4rem; 
  padding-top: 1.4rem;
}
.rewards_cont p{
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
}
@media screen and (max-width: 400px) {
  .rewards {
    min-height: 400vh;
  }
  .rewards_head {
    /*grid-gap: 2rem;  */
    gap: 1.6rem;
  }
  .rewards_head h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  /*.reward_circle h2 {
    font-size: 3.8rem;
  } */
  .reward_info {
    width: 70%;
    padding-bottom: 3.8rem;
  }
  .rewards_cont h1 {
    font-size: 1.5rem;
    padding: 0rem;
    width: 80%;
  }
  .rewards_cont p {
    font-size: 0.9rem;
  }
}

