.rewards {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100%;
    padding-top: 40px;
    box-shadow: 0px 4px 27px #05E8FA;
} 
.rewarditem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}
.svgrays {
  color: white;
  content: '';
  text-shadow: 0px 4px 27px #05E8FA;
}
.rewards-text {
  font-family: var(--primary-font);
  text-shadow: 0px 4px 27px #05E8FA;
  font-size: 3.2rem;
  color: white;
  text-align: center;
  letter-spacing: 0.065em;
}
.left-rays{
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 0px 4px 27px #05E8FA;

}
.right-rays{
  display: flex;
  flex-direction: column;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px; 
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.circle-items {
    font-family: var(--primary-font);
    text-shadow: 0px 4px 27px #05E8FA;
    color: white;
    background: linear-gradient(180deg, #000000 6.01%, #377584 82.06%, #1CADD0 100%);
    border: 0.30rem solid #FFFFFF;
    background-color:inset 0px 4px 4px #05E8FA; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(21px 8px 71px #05E8FA);
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
  }
  
.circle-items {
    display: flex;
    justify-content: space-between;
    min-width: 12vw;
    min-height: auto;
    align-items: center;
    text-align: center;
    margin: .5em;
    max-width: 40vw;
    width: 20%;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  /* display .circle-items as 1:1 ratio */
.circle-items:before {
    display: flex;
    content: '';
    margin-top: 100%; 
}
.box{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  color : white;
}
.text { 
  font-family: 'DM Serif Display';
  font-style: normal;
  color: white;
  font-size : 1rem;
}

.box .h3 {
  color: white;
  text-align: center;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-size: 1.5rem;
}
.box p{
  color: white;
  text-align: center;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-size: 1rem;
}

 /* @media only screen and (max-width: 600px){
  .main{
      min-height: 100vh;
      background: linear-gradient(180deg, #050D18 82.03%, #001C3D 100%);
  }
  .home{
      max-width: 93vw;
      padding-top: 0;
      flex-direction: column;
      justify-content: space-around;
      min-height: 85vh;

 /*Fix media querries values to fix the oval shape bug */      
/*
@media screen and (min-width: 700px) {
    .circle-items {
      width: 17%;
      margin: .5em 1em;
      display: flex;
      flex-direction: column; 
      align-items: center; 
    }
  }
  
@media screen and (min-width: 960px) {
    .circle-items {
      justify-content: space-between;
    }
    .circle-items {
      width: 13.5%;
      margin: 0;
    }
}
*/