#LinksContainer{
width:50%;
gap: 20%;
display: flex;
align-items: center;
justify-content: space-between;
}
a.icon{
  display: none;
}
.btn{
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}
/* @media (max-width: 1000px) {
  #LinksContainer{
  max-width: 100%;
  padding: 0 30px 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 70px;
  background: rgba(35, 45, 57, 0.8);
  transition: top 1100ms ease-in-out, opacity 1100ms ease-in-out;}
  #LinksContainer.hidden {
    left: 0;
    top: -500px;
    opacity: 0;
  }
  #LinksContainer.btn {
    width: 100%;
    text-align: center;
    padding: 16px;
  }
  
} */
@media screen and (max-width: 600px) {
  a:not(:first-child) {display: none;}
  a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #LinksContainer.hidden {position: relative;
    left: 0;
    top: -500px;
    opacity: 0;}
  #LinksContainer.hidden a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #LinksContainer.hidden a {
    float: none;
    display: block;
    text-align: left;
  }
}