* {
    margin: 0;
    box-sizing: border-box;
}
  
/* VARIABLES */
:root {
    /* --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
    --bg-color: #E6F4F4;
    --primary-color: #0B8B8B;
    --secondary-color: #86CECE;
    --text-main: #333333; */
}
  